<section class="viewPrayer" id="viewPrayer">
	<div class="shadow" id="viewPrayerContentShadow"></div>
	<div class="content"id="viewPrayerContent">
		<h2>Contributor</h2>
		<form action="">
			<div class="">
				<label for="">Name:</label>
				<input type="text" value="Harold Janssen">
				<label for="" class="edit"></label>
			</div>
			<div>
				<label for="">Willing to Do:</label>
				<div class="form-addTags">
					<div class="tags">
						<span>Song Leading <button class="delete"></button></span>
					</div>
					<input type="text" placeholder="Add …">
					<ul class="autocomplete">
						<li>Song leader</li>
						<li>Pianist</li>
						<li>Announcements</li>
						<li>Soloist</li>
						<li>Missions Letter</li>
						<li>Group Singer</li>
						<li>Choir Leader</li>
						<li>Speaker</li>
						<li>Other</li>
					</ul>
				</div>
				<label for="" class="edit"></label>
			</div>
			<div>
				<label for="">Cell Number::</label>
				<input type="tel" value="(217) 499-0822">
				<label for="" class="edit"></label>
			</div>
			<div>
				<label for="">Email::</label>
				<input type="email" value="hjjanssen@gmail.com">
			</div>
			<div>
				<label for="">Private Notes:</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>

			<div class="controllers">
				<button class="button-archive">Archive</button>
				<button>Done</button>
			</div>
		</form>
	</div>
</section>