---
layout: default
body-class: home
title: "Events"
filters:
#- All 
addOption: "Add Leader"
handout: false
---
<div class="card-main">
	
	<div class="input-search">
		<input class="search" type="search" placeholder="Search">
	</div>
	
	<table class="maintable-list">

		<!-- maintable-item -->
		{% for item in (1..5) %}
		<tr class="active">
			<!-- <td class="checkbox">
				<input type="checkbox">
			</td> -->
			<td class="title">
				<a href="#">Event Name</a>
				<!-- <span>Health Needs</span> -->
			</td>
			<td>
				<span>Description:</span>
				The descriptions Lorem ipsum dolor sit.…
			</td>
			<td>
				<span>Date:</span>
				01/01/2018
			</td>
			<td class="actions">
				<div class="desktop">
					<a href="#"><i class="fa fa-archive"></i></a>
					<a href="#"><i class="fa fa-pencil"></i></a>
				</div>
				<div class="mobile">
					<button class="button-orange">Archive</button>
					<button class="button-green">View</button>
				</div>
			</td>
		</tr>
		{% endfor %}
		<!-- /maintable-item -->
		
	</table>
	
	<!-- {% include pagination.html %} -->

</div> <!-- /.card-main -->

<section class="addModule" id="addModule">
	<div class="shadow" id="addModuleOverlay"></div>
	<div class="content"id="addModuleContent">
		<h2>Add A Ministry</h2>
		<form action="">
			<div class="">
				<label for="">Name:</label>
				<input type="text" value="">
			</div>
			<div class="">
				<label for="">Description::</label>
				<textarea name="" id=""></textarea>
			</div>
			<div>
				<label for="">Featured Image:</label>
				<div class="file-dragdrop-img">
					<label for="">
						<img src="" alt="">
						<span>
							<i class="fa fa-upload"></i>
							Drop or click to upload new photo.
						</span>
						<input type="file">
					</label>
				</div>
			</div>
			<div class="">
				<label for="">Location:</label>
				<input type="text" value="">
			</div>
			<div>
				<label for="">Frequency:</label>
				<select name="" id="">
					<option value="">Occurs Once</option>
					<option value="">Weekly</option>
					<option value="">Monthly</option>
				</select>
			</div>
			<div class="form-date-time">
				<label for="">Start Date/Time:</label>
				<input type="date"><i class="fa fa-calendar"></i>
				<input type="time"><i class="fa fa-clock-o"></i>
			</div>
			<div class="form-date-time">
				<label for="">End Date/Time:</label>
				<input type="date"><i class="fa fa-calendar"></i>
				<input type="time"><i class="fa fa-clock-o"></i>
			</div>
			<div>
				<label for="">Ministry:</label>
				<select name="" id="">
					<option value=""></option>
				</select>
			</div>
			<div>
				<label for="">Contact:</label>
				<select name="" id="">
					<option value=""></option>
				</select>
			</div>
			<div>
				<label for="">Body:</label>
				<textarea name="" class="SimpleMDE" id="InputContent" cols="30" rows="10"></textarea>
			</div>

			<div class="controllers">
				<button class="button-archive">Archive</button>
				<button>Done</button>
			</div>
		</form>
	</div>
</section>

<section class="guide-module">
	<button id="guide-module-close" class="close"><i class="fa fa-caret-down"></i></button>
	<h2>{{page.title}}</h2> 
	<div class="container">
		<div class="column content">
			<p>This is the most important page on your website.  It is a page specifically designed to turn vistors of your website into visitors of your church.  The page has two goals:</p>
			<ul>
				<li>Present a case for how your church can help the potential visitor.</li>
				<li>Present information a potential visitor would need to visit your church.</li>
			</ul>
			<p>Watch the video here to find out about how to setup the welcome page.</p>
		</div>
		<div class="column video">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/plqQpmhW4Pw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</section>