$navigation-width: 230px;
$navigation-sm-width: 50px;
$navigation-padding: 2rem;

.navigation{
	position: fixed;
	overflow-y: scroll;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	width: $navigation-width;
	padding: 0.5rem 0;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: $darkest-blue;
	&::-webkit-scrollbar {
		width: 0px;  /* remove scrollbar space */
		// background: transparent; 
	}
	color: $white;
	.container{
		// height: calc(100vh - 100px);
		// overflow-y: scroll;
	}//.container
	.user{
		width: 100%;
		padding: 1rem 0 0 0;
		text-align: center;
		a{
			color: $white;
			text-decoration: none;
		}
		img{
			display: inline-block;
			width: 70%;
			margin: 0 0 0.5rem 0;
			height: auto;
			// border-radius: 50%;
			box-shadow: 0px 0px 15px rgba($dark, 0.25);
		}
		p{
			margin: 0;
			a{
				font-weight: 700;
			}
		}
		span{
			display: block;
			margin: 0 0 1rem 0;
		}
		.settings{
			display: none;
			padding: 2em $navigation-padding;
			margin: 0;
			background-color: $dark-blue;
			text-align: left;
			list-style: none;
			&.active{
				display: block;
			}
			ul{
				padding: 0.5em 0 0 1.5em;
				list-style: none;
				li a::before{
					position: absolute;
					margin: 0.5em 0 0 -1.5em;
					@extend %fa;
					content: "\f013"
				}
			}
			li{
				padding: 0.5em 0;
			}
			> li,
			> li{
				font-weight: 700;
			}
		}//.settings
	}//.user
	.menu{
		list-style: none;
		padding: 0;
		margin: 0;
		a{
			display: block;
			width: 100%;
			padding: 1em $navigation-padding;
			color: $white;
			text-decoration: none;
			
			img{
				vertical-align: middle;
			}
		}//a
		> li{
			.title{
				display: flex;
				align-items: center;
				span{
					margin: 0 0 0 0.5em;
				}
				.config{
					display: none;
					font-size: 1rem;
					width: 2em;
					transform-origin: 60% 50%;
					transition: transform 0.5s ease; 
					&:hover{
						transform: scale(1.5);
					}
				}
			}
			ul{
				display: none;
				border-bottom: 1px solid $blue;
				&:last-of-type{
					border-bottom: none;
				}
			}
			&:hover,
			&.active{
				background: $blue;
			}
			&.active{
				.config{
					display: block;
				}
				ul{
					display: block;
				}
			}
		}// > li
		ul{
			list-style: none;
			background-color: $dark-blue;
			padding: 0;
			a{
				&.active{
					font-weight: 700;
					background-color: transparent;
				}
				&:hover{
					background-color: rgba($white, 0.05);
				}
			}
		}
	}//.menu
	.logo{
		width: 100%;
		padding: 2rem $navigation-padding/2;
		bottom: 0;
	}//.logo
	.header{
		padding: 1rem 0;
		.sct-logo{
			display: inline-block;
			vertical-align: middle;
			@include tablet{
				width: 5rem;
			}
		}
		.info{
			width: calc(100% - 6.5rem);
			display: inline-block;
			vertical-align: middle;
			text-align: left;
			padding-left: 0.5rem;
			span{
				margin-bottom: 0;
			}
		}
	}
}//.navigation
@media only screen and (max-width: $tablet-width){
	body.active-sm-navigation{
		.navigation{
			width: $navigation-sm-width;
			.menu a {
				padding-left: 0 ;
				padding-right: 0;
			}
			.title{
				img{
					width: 60%;
					display: block;
					margin: 0 auto;
				}
			}
			.visible-desktop{
				display: none !important;
			}
		}//.navigation
	}//body.active-sm-navigation
}// @media only screen and (max-width: $tablet-width)

.trial-badge{
	display: block;
	margin: 0 auto;
	width: 95%;
	position: relative;
	top: -0.5rem;
	padding: 0.75em 1em;
	background-color: #FF6828;
	border-radius: 0 0 5px 5px;
	color: $white;
	line-height: 1em;
	text-decoration: none;
	font-size: 0.9em;
	&:hover{
		background-color: darken(#FF6828, 10%);
	}
	i{
		margin-left: 0.5em;
	}
	+ *{
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}