<section class="addModule" id="addModule">
	<div class="shadow" id="addModuleOverlay"></div>
	<div class="content"id="addModuleContent">
		<h2>Prayer</h2>
		<form action="">
			<div class="">
				<label for="">Title:</label>
				<input type="text" value="Sister Susy">
				<label for="" class="edit"></label>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>
			<div>
				<label for="">Description:</label>
				<input type="text" value="Shingles on face">
				<label for="" class="edit"></label>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>
			<div>
				<label for="">Person Giving Request:</label>
				<input type="text" value="Pastor">
				<label for="" class="edit"></label>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>
			<div>
				<label for="">Category:</label>
				<select name="" id="">
					<option value="">Ministry</option>
					<option value="">Ministry</option>
					<option value="">Ministry</option>
				</select>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>
			<div>
				<label for="">Private Notes:</label>
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<div class="controllers">
					<button class="button-orange">discard Changes</button>
					<button>Save Changes</button>
				</div>
			</div>

			<div class="controllers">
				<button class="button-archive">Archive</button>
				<button>Done</button>
			</div>
		</form>
	</div>
</section>