<header class="header-registration">
	<h1>Sign Up For Simple Church Websites.</h1>
	<h2>You are <u>minutes</u> away from an amazing church website.</h2>
	<div class="steps-list">
		<div class="overlay"></div>
		<div class="scroll">
			<ul>
				<li id="step1">
					<a class="number {% if page.step == 1 %} active{% endif %}">1</a>
					<p>
						<strong>Login Information</strong>
						Who you are. 
					</p>
				</li>
				<li id="step2">
					<a class="number {% if page.step == 2 %} active{% endif %}">2</a>
					<p>
						<strong>Church Info</strong>
						Location/Pastor/Etc.
					</p>
				</li>
				<li id="step3">
					<a class="number {% if page.step == 3 %} active{% endif %}">3</a>
					<p>
						<strong>Service Schedule</strong>
						When do you have services.
					</p>
				</li>
				<li id="step4">
					<a class="number {% if page.step == 4 %} active{% endif %}">4</a>
					<p>
						<strong>Design</strong>
						Pick Your Theme
					</p>
				</li>
			</ul>
		</div>
	</div>
</header>