{% comment %}
	DOCUMENTATION:
	- To toggle the navigation on the mobile view there is a class "active-sm-navigation" in body that is toggle to expand the navigation.
{% endcomment %}
<nav class="navigation" id="main-navigation">
	<div class="container">
		
		<a href="" class="trial-badge visible-desktop">Trial mode <i class="fa fa-question-circle"></i></a>
		
		<div class="user">
			<!-- <a href="#" id="user-pic" title="View user settings">
				<img src="https://www.gravatar.com/avatar/fda7191c07def6cbff773b75a91ec8ef.jpg?s=200&d=mm" alt="">
			</a> -->
			
			<div id="navigation-header" class="header">
				<a href="#" id="navigation-sct-logo" class="sct-logo" title="View settings">
					<img src="/assets/images/Main-Mark-White.png" alt="">
				</a>
				<div class="info visible-desktop">
					<p><a href="#" title="View user settings">Ryan Hayden <i class="fa fa-caret-down"></i></a></p>
					<span>Bible Baptist Church</span>
				</div>
			</div>

			<ul class="settings visible-desktop" id="navigation-user-settings">
				<li>Settings
					<ul>
						<li><a href="/settings-church.html">Church Details</a></li>
						<li><a href="/settings-design.html">Design Settings</a></li>
						<li><a href="/settings-users.html">Manage Administrators</a></li>
					</ul>
				</li>
				<li><a href="#"> <i class="fa fa-sign-out"></i>Logout</a></li>
			</ul>
		</div><!-- .user -->

		<ul class="menu">
			
			<li class="">
				<div class="title">
					<a href="{{site.baserurl}}/index.html">
						<img src="{{site.baseurl}}/assets/images/navigation/Dashboard-icon.svg" alt="">
						<span class="visible-desktop">Dashboard</span>
					</a>
				</div>
			</li>
			
			<li class="">
				<div class="title">
					<a href="/welcomePage-messaging.html">
						<img src="{{site.baseurl}}/assets/images/navigation/welcomePage-icon.svg" alt="">
						<span class="visible-desktop">Welcome Page</span>
					</a>
					<!-- <a href="/prayers-settings.html" class="config fa fa-cog visible-desktop"></a> -->
				</div>
			</li>
			
			<li class="">
				<div class="title">
					<a>
						<img src="{{site.baseurl}}/assets/images/navigation/ministries-icons.svg" alt="">
						<span class="visible-desktop">Ministries</span>
					</a>
					<a href="#" class="config fa fa-cog visible-desktop"></a>
				</div>
				<ul class="visible-desktop">
					<li><a href="/ministries-ministries.html" class="active">Ministries</a></li>
					<li><a href="/ministries-leaders.html" class="active">Leaders</a></li>
				</ul>
			</li>
			
			<li class="">
				<div class="title">
					<a href="/events.html">
						<img src="{{site.baseurl}}/assets/images/navigation/events-icon.svg" alt="">
						<span class="visible-desktop">Events</span>
					</a>
					<a href="#" class="config fa fa-cog visible-desktop"></a>
				</div>
			</li>
			
			<li class="">
				<div class="title">
					<a>
						<img src="{{site.baseurl}}/assets/images/navigation/page-icon.svg" alt="">
						<span class="visible-desktop">Pages</span>
					</a>
					<a href="#" class="config fa fa-cog visible-desktop"></a>
				</div>
				<ul class="visible-desktop">
					<li><a href="/pages-regular.html" class="active">Regular About Pages</a></li>
					<li><a href="/pages-leadership.html" class="active">Leadership</a></li>
					<li><a href="/pages-beliefs.html" class="active">Beliefs</a></li>
					<li><a href="/pages-gospel.html" class="active">Gospel</a></li>
				</ul>
			</li>
			
			<li class="">
				<div class="title">
					<a href="/photos.html">
						<img src="{{site.baseurl}}/assets/images/navigation/photos-icon.svg" alt="">
						<span class="visible-desktop">Photos</span>
					</a>
					<a href="#" class="config fa fa-cog visible-desktop"></a>
				</div>
			</li>
			
			<li class="">
				<div class="title">
					<a>
						<img src="{{site.baseurl}}/assets/images/navigation/blogPost-icon.svg" alt="">
						<span class="visible-desktop">Blog Posts</span>
					</a>
					<a href="#" class="config fa fa-cog visible-desktop"></a>
				</div>
				<ul class="visible-desktop">
					<li><a href="/blog/posts.html" class="active">Posts</a></li>
					<li><a href="/blog/categories.html" class="active">Categories</a></li>
				</ul>
			</li>
		
		</ul><!-- /.menu -->
	</div> <!-- /.container -->

	<!-- <img class="logo visible-desktop" src="{{site.baserurl}}/assets/images/SimpleChurchTools-logo.svg" alt=""> -->
</nav>