<div class="pagination">
	<ul>
		<li><button> <i class="fa fa-chevron-left"></i> </button></li>
		<li><button class="active">1</button></li>
		<li><button>2</button></li>
		<li><button>3</button></li>
		<li><button>4</button></li>
		<li><button> <i class="fa fa-chevron-right"></i> </button></li>
	</ul>
	<div class="perPage">
		<label for="perPage">Show </label>
		<select name="" id="perPage">
			<option value="">5</option>
			<option value="">10</option>
			<option value="">20</option>
			<option value="">35</option>
		</select>
	</div>
</div>