<div class="steps-list">
	<div class="overlay"></div>
	<div class="scroll">
		<ul>
			<li id="step1">
				<a href="/welcomePage-messaging.html#step1" class="number {% if page.step == 1 %} active{% endif %}">1</a>
				<p>
					<strong>Main Messaging</strong>
					What are your values?
				</p>
			</li>
			<li id="step2">
				<a href="/welcomePage-Services.html#step2" class="number {% if page.step == 2 %} active{% endif %}">2</a>
				<p>
					<strong>Services</strong>
					What are you services like?
				</p>
			</li>
			<li id="step3">
				<a href="/welcomePage-expect.html#step3" class="number {% if page.step == 3 %} active{% endif %}">3</a>
				<p>
					<strong>What to expect</strong>
					Tell us about your church
				</p>
			</li>
			<li id="step4">
				<a href="/welcomePage-children.html#step4" class="number {% if page.step == 4 %} active{% endif %}">4</a>
				<p>
					<strong>Children & teens</strong>
					What do you do for chilfren?
				</p>
			</li>
			<li id="step5">
				<a href="/welcomePage-location.html#step5" class="number {% if page.step == 5 %} active{% endif %}">5</a>
				<p>
					<strong>Location</strong>
					How to get to your church?
				</p>
			</li>
		</ul>
	</div>
</div>