<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <body class="{{page.body-class}} active-sm-navigation">
    {% include navigation.html %}
    <main class="page-content" aria-label="Content" id="main-content">
      <div class="wrapper">
        <a href="#" id="trial-remainder" class="trial-remainder"> Trial Model - ¡Buy Now! <button id="trial-remainder-close" class="close fa fa-times"></button></a>
        <div class="button-viewsite-container">
          <a href="#" class="button button-viewsite">VIEW SITE</a>
        </div>
        {% if page.header == "simple"%}
          {% include header-simple.html %}
        {% else %}
          {% include header.html %}
        {% endif %}
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>

</html>
